<li class="row row-tight">
  <a href="{{url}}" class="col-3 col-md-4">
    {{#if feature_image}}
      <img class="rounded shadow"
        srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w"
        sizes="(max-width: 1000px) 400px, 700px"
        src="{{img_url feature_image size="s"}}"
        alt="{{title}}"
      />
    {{/if}}
  </a>
  <div class="col d-flex flex-column justify-content-between">
    <div>
      <a href="{{url}}">
        <h6 class="mb-1">{{title}}</h6>
      </a>
      <div class="d-flex text-small">
        <a href="#">Business</a>
      </div>
    </div>
    <div>
      <span class="badge bg-primary-alt text-primary">
        <img class="icon bg-primary" src="/ghost/assets/img/icons/interface/heart.svg" alt="heart interface icon" data-inject-svg />12
      </span>
    </div>
  </div>
</li>
