<div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
  <a href="{{url}}">
    <img class="rounded mb-3"
      srcset="{{img_url feature_image size="s"}} 300w,
              {{img_url feature_image size="m"}} 600w,
              {{img_url feature_image size="l"}} 1000w,
              {{img_url feature_image size="xl"}} 2000w"
      sizes="(max-width: 1000px) 400px, 700px"
      src="{{img_url feature_image size="m"}}"
      alt="{{title}}"
    />
    <h4 class="mb-0">{{title}}</h4>
    <div class="text-small text-muted">...</div>
  </a>
</div>
