<!doctype html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ghost_head}}
    <meta name="description" content="{{meta_description}}">
    <link href="/ghost/assets/css/theme.css?v=3" rel="stylesheet" type="text/css" media="all" />
    <link rel="preload" as="font" href="/ghost/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/ghost/assets/fonts/Inter-UI.var.woff2" type="font/woff2" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body class={{body_class}} data-context="index">
    <script>
      window.isSubPage = false;
    </script>
    <div class="navbar-container ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand hadland-tab hadland-tab-index" href="javascript:history.pushState(null, null, '/?page=index');window.switch();">
            <img src="/ghost/assets/img/logo.png" alt="Hadland" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <img class="icon navbar-toggler-open" src="/ghost/assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
            <img class="icon navbar-toggler-close" src="/ghost/assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <div class="py-2 py-lg-0">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a data-selected="false" href="javascript:window.doClick=true;history.pushState(null, null, '/?page=index');window.switch();" class="nav-link hadland-tab hadland-tab-index hadland-tab-hide">Hjem</a>
                </li>
                <li class="nav-item">
                  <a data-selected="false" href="javascript:window.doClick=true;history.pushState(null, null, '/?page=activities');window.switch();" class="nav-link hadland-tab hadland-tab-activities">Aktiviteter</a>
                </li>
                <li class="nav-item">
                  <a data-selected="false" href="javascript:window.doClick=true;history.pushState(null, null, '/?page=store');window.switch();" class="nav-link hadland-tab hadland-tab-store">Butikk</a>
                </li>
                <li class="nav-item">
                  <a data-selected="false" href="javascript:window.doClick=true;history.pushState(null, null, '/?page=csa');window.switch();" class="nav-link hadland-tab hadland-tab-csa">Andelslandbruk</a>
                </li>
                <li class="nav-item">
                  <a data-selected="false" href="javascript:window.doClick=true;history.pushState(null, null, '/?page=about');window.switch();" class="nav-link hadland-tab hadland-tab-about">Om</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    {{{body}}}
    <footer class="pb-4 bg-light pt-4" id="footer">
      <div class="container">
        <div class="row justify-content-center mb-2">
          <div class="col-auto">
            <div class="row justify-content-center">
              <div class="col col-md-auto text-center">
                <small class="text-muted">
                  <a class="text-secondary" href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/ghost/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/aos.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/clipboard.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/flatpickr.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jarallax.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jarallax-video.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jarallax-element.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/plyr.polyfilled.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/prism.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/scrollMonitor.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/svg-injector.umd.production.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/twitterFetcher_min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/typed.min.js"></script>
    <script type="text/javascript" src="/ghost/assets/js/theme.js"></script>
    <script type="text/javascript">
      window.addEventListener('load', function () {
        document.querySelector('body').classList.add('loaded');
      });
    </script>
    <script>
      var images = document.querySelectorAll('.kg-gallery-image img');
      images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
      })
      function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
      };
      window.switch = function() {
        if (window.isSubPage) {
          location.reload();
        } else {
          document.querySelector('body').setAttribute('data-context', getUrlParameter('page') || 'index');
          document.querySelectorAll('[data-selected]').forEach(function(item) {
            item.setAttribute('data-selected', 'false');
          });
          document.querySelectorAll('.hadland-tab-' + (getUrlParameter('page') || 'index')).forEach(function(item) {
            item.setAttribute('data-selected', 'true');
          });
          if ($('.navbar-toggler')[0].offsetParent !== null && window.doClick) {
            document.querySelector('.navbar-toggler').click();
          }
          window.scrollTo(0, 0);
        }
      }
      window.onpopstate = function() {
        window.switch();
      }
      function ready(fn) {
        if (document.readyState != 'loading'){
          fn();
        } else {
          document.addEventListener('DOMContentLoaded', fn);
        }
      }
      if (!window.isSubPage) {
        ready(window.switch);
      }
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>
  </body>
</html>
