{{!< default}}
<section class="has-divider text-light jarallax" data-jarallax data-speed="0.5" data-overlay>
  <img src="ghost/assets/img/banner.jpg" alt="" class="jarallax-img opacity-50">
  <div class="container pb-0">
    <div class="row hadland-row hadland-row-index">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <h1 class="display-4 text-primary">{{meta_title}}</h1>
        <p class="lead mb-0 text-primary-2">
          {{meta_description}}
          <br />
          <br />
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div id='map' class="min-vh-30 w-100 rounded"></div>
        <br />
        <br />
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoibWlrYWVpIiwiYSI6ImNqemt4aHR4aTA5ZmozbG54bXduaWJjMjQifQ.ua_iNdB0eK5QkywayJWWJQ';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mikaei/ck2g4avx5051c1cpn5nbepyg2',
            pitch: 90,
            zoom: 11,
            center: [5.769849, 58.737970]
          });
          function rotateCamera(timestamp) {
            map.rotateTo((timestamp / 250) % 360, {duration: 0});
            requestAnimationFrame(rotateCamera);
          }
          map.on('load', function () {
            rotateCamera(0);
          });
        </script>
      </div>
    </div>
    <div class="row hadland-row hadland-row-store">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <h1 class="display-4 text-primary">Butikk</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-activities">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <h1 class="display-4 text-primary">Aktiviteter</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-csa">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <h1 class="display-4 text-primary">Hadland andelslandbruk</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-about">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <h1 class="display-4 text-primary">Om</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-contact">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <h1 class="display-4 text-primary">Kontakt</h1>
      </div>
    </div>
  </div>
  <div class="divider">
    <img src="ghost/assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
  </div>
</section>
<section class="pt-2 pb-2">
  <div class="container">
    <div class="row hadland-row hadland-row-index">
      <div class="col">
        <h3 class="h2">Aktuelt</h3>
      </div>
    </div>
    <div class="row hadland-row hadland-row-store">
      <div class="col">
        <h3 class="h2"></h3>
      </div>
    </div>
    <div class="row hadland-row hadland-row-activities">
      <div class="col">
        <h3 class="h2">Kommende hendelser</h3>
      </div>
    </div>
    <div class="row hadland-row hadland-row-csa">
    </div>
    <div class="row hadland-row hadland-row-about">
      <div class="col">
        <h3 class="h2">Hadland økologiske gard</h3>
      </div>
    </div>
    <div class="row hadland-row hadland-row-contact">
      <div class="col">
        <h3 class="h2">Ansatte</h3>
      </div>
    </div>
    <div class="row hadland-row hadland-row-index">
      <div class="col-md-7 col-lg-8 d-flex">
        {{#foreach posts from="1" to="1"}}
          <a href="{{url}}" class="card card-body overlay border-0 text-light mb-md-0 justify-content-end">
            <div class="position-relative">
              <div class="my-3">
                {{#if primary_tag}}
                  <span class="badge bg-primary text-primary-2 hadland-faded">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="text-primary">{{title}}</h2>
              </div>
            </div>
            {{#if feature_image}}
              <img class="rounded bg-image"
                  srcset="{{img_url feature_image size="s"}} 300w,
                          {{img_url feature_image size="m"}} 600w,
                          {{img_url feature_image size="l"}} 1000w,
                          {{img_url feature_image size="xl"}} 2000w"
                  sizes="(max-width: 1000px) 400px, 700px"
                  src="{{img_url feature_image size="m"}}"
                  alt="{{title}}"
              />
            {{/if}}
          </a>
        {{/foreach}}
      </div>
      <div class="col-md-5 col-lg-4">
        <ul class="list-unstyled list-articles">
          {{#foreach posts from="2" to="4"}}
            {{> "post-card"}}
          {{/foreach}}
        </ul>
      </div>
    </div>
    <div class="row hadland-row hadland-row-store">
      <div class="col-md-12 col-lg-12">
        <ul class="list-unstyled list-articles hadland-full">
          {{#foreach posts}}
            {{#has tag="produkt"}}
              {{> "post-card-store"}}
            {{/has}}
          {{/foreach}}
        </ul>
      </div>
    </div>
    <div class="row hadland-row hadland-row-contact">
      <div class="col-md-12 col-lg-12">
        <ul class="list-unstyled list-articles hadland-full">
          {{#foreach posts}}
            {{#has tag="kontakt"}}
              {{> "post-card-store"}}
            {{/has}}
          {{/foreach}}
        </ul>
      </div>
    </div>
  </div>
</section>
