{{!< default}}
<section class="text-dark hadland-main bg-light pt-4 pb-3">
  <div class="container pb-0">
    <div class="row hadland-row hadland-row-index">
      <div class="col-xl-6 col-lg-6 col-md-6 pt-5 pr-5 pl-5 text-center">
        <h1 class="display-4 text-muted" style="letter-spacing: -1px; font-weight: 900;">
          {{meta_title}}
        </h1>
        <p class="mb-5 pt-5 text-secondary">
          {{meta_description}}
        </p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 pt-0">
        <div id='map' class="h-100 w-100 rounded shadow-lg" style="min-height: 320px;"></div>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoibWlrYWVpIiwiYSI6ImNqemt4aHR4aTA5ZmozbG54bXduaWJjMjQifQ.ua_iNdB0eK5QkywayJWWJQ';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mikaei/ck2g4avx5051c1cpn5nbepyg2',
            pitch: 90,
            zoom: 11,
            center: [5.769849, 58.737970]
          });
          function rotateCamera(timestamp) {
            map.rotateTo((timestamp / 250) % 360, {duration: 0});
            requestAnimationFrame(rotateCamera);
          }
          map.on('load', function () {
            rotateCamera(0);
          });
        </script>
      </div>
    </div>
    <div class="row hadland-row hadland-row-store">
      <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
        <h1 class="display-4 text-muted" style="letter-spacing: -1px; font-weight: 900;">Butikk</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-about">
      <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
        <h1 class="display-4 text-muted" style="letter-spacing: -1px; font-weight: 900;">Om</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-activities">
      <div class="col-xl-12 col-lg-12 col-md-12 pt-2">
        <h1 class="display-4 text-muted" style="letter-spacing: -1px; font-weight: 900;">Aktiviteter</h1>
      </div>
    </div>
    <div class="row hadland-row hadland-row-csa text-center mb-3 mx-1">
      <div class="col-xl-12 col-lg-12 col-md-12 pb-2">
        {{!-- <h1 class="display-4 text-muted" style="letter-spacing: -1px; font-weight: 900;">Hadland andelslandbruk</h1> --}}
        <img src="/ghost/assets/img/liten_web.png" style="width: 281px; mix-blend-mode: darken;" alt="Hadland andelslandbruk" />
      </div>
    </div>
  <div class="container">
    <div class="row hadland-row hadland-row-index pt-4">
      {{#foreach posts from="1" to="9"}}
        <div class="col-md-4 col-lg-4 pb-3">
          <a href="{{url}}" class="shadow card mvh-50 card-body overlay border-0 text-light mb-md-0 justify-content-end">
            <div class="position-relative">
              {{#if primary_tag}}
                <span class="badge bg-light text-secondary" style="opacity: 0.8;">{{primary_tag.name}}</span>
              {{/if}}
              <div class="mt-2 mb-0">
                <h1 class="mb-0" style="font-weight: 900; opacity: 0.8;">{{title}}</h1>
              </div>
            </div>
            {{#if feature_image}}
              <img class="rounded bg-image"
                  srcset="{{img_url feature_image size="s"}} 300w,
                          {{img_url feature_image size="m"}} 600w,
                          {{img_url feature_image size="l"}} 1000w,
                          {{img_url feature_image size="xl"}} 2000w"
                  sizes="(max-width: 1000px) 400px, 700px"
                  src="{{img_url feature_image size="m"}}"
                  alt="{{title}}"
              />
            {{/if}}
          </a>
        </div>
      {{/foreach}}
    </div>
    <div class="row hadland-row hadland-row-activities">
      <table class="table">
        <tbody>
          {{#foreach posts}}
            {{#has tag="aktivitet"}}
              <tr>
                <td class="p-0"><a class="py-2" href="{{url}}"><h1 class="mb-0" style="font-weight: 900;">{{title}}</h1></a></td>
              </tr>
            {{/has}}
          {{/foreach}}
        </tbody>
      </table>
    </div>
    <div class="row hadland-row hadland-row-store">
      <table class="table">
        <tbody>
          {{#foreach posts}}
            {{#has tag="produkt"}}
              <tr>
                <td class="p-0"><a class="py-2" href="{{url}}"><h1 class="mb-0" style="font-weight: 900;">{{title}}</h1></a></td>
              </tr>
            {{/has}}
          {{/foreach}}
        </tbody>
      </table>
    </div>
    <div class="row hadland-row hadland-row-csa">
      <table class="table">
        <tbody>
          {{#foreach posts}}
            {{#has tag="andelslandbruk"}}
              <tr>
                <td class="p-0"><a class="py-2" href="{{url}}"><h1 class="mb-0" style="font-weight: 900;">{{title}}</h1></a></td>
              </tr>
            {{/has}}
          {{/foreach}}
        </tbody>
      </table>
    </div>
    <div class="row hadland-row hadland-row-about">
      <table class="table">
        <tbody>
          <tr>
          </tr>
        </tbody>
      </table>
      {{#foreach posts}}
        {{#has tag="om"}}
          <section class="text-dark hadland-main bg-light pt-6 pb-3">
            <div class="container pb-0">
              <div class="row col-md-8 px-2 m-0"></default>
                {{content}}
              </div>
            </div>
          </section>
        {{/has}}
      {{/foreach}}
    </div>
  </div>
</section>
